.empty-msg {
   text-align: center;
   font-size: 48px;
   margin: 150px 0;
}

.cart-footer {
   display: flex;
   max-width: 100%;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 20px 50px;
   background-color: antiquewhite;
}
.cart-summa {
   font-size: 20px;
   font-weight: bold;
}